.warranty
    padding: 0
    margin: 0
    padding-bottom: 230px
    &__title
        text-align: center
        margin: auto
        margin-bottom: 100px
        color: #000000
        font-size: 30px
        +bold
        line-height: 45px
        max-width: 660px
    &-card
        &__descr
            color: #000000
            text-align: center
            margin: auto
            max-width: 286px
            font-size: 18px
            margin-top: 40px
            line-height: 24px
        &s
            display: flex
            justify-content: space-between
@media (max-width: 1200px)
    .warranty
        &-card
            margin-right: 20px
            &__descr
                font-size: 17px
@media (max-width: 768px)
    .warranty
        &__card
            margin-bottom: 20px
        &-card
            &s
                text-align: center
                display: flex
                flex-direction: column
            &__descr
                font-size: 16px
@media (max-width: 567px)
    .warranty
        &-card
            &__descr
                font-size: 15px
        &__title
            font-size: 24px